@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background-image: url("/src/gradient-blue.jpg");
    background-size: cover;
    touch-action: none;
    width: 100vw;
}


.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}


.hero-content{
    font-weight: 400;
}

.input-botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.botones-wrapper{
    display: flex;
    justify-content: center;
}

.botones-wrapper input{
    text-align: center;
    border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
}


#btnCopyToClipboard{
    background-color: rgb(11, 241, 115);
    border-radius: 10px;
    border: none;
}

#btnCopyToClipboard:hover{
    background-color: rgb(20, 192, 77);
}


input[type="radio"] {
    -webkit-appearance: none; /* Para navegadores basados en WebKit (Safari, Chrome) */
    -moz-appearance: none; /* Para navegadores basados en Gecko (Firefox) */
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
  }
  
  input[type="radio"]:checked {
    background-color: greenyellow;
  }

  .input-vibrar{
    animation: vibrar 0.3s linear;
  }

  @keyframes vibrar{
    0%{
        margin-right: 5px;
        background-color: white;
    }
    50%{
        margin-left: 3px;
        background-color: rgb(248, 37, 37);
    }
    100%{
        margin: 0px;
        background-color: white;
    }
  }

::-webkit-scrollbar {
    width: 15px;
  }

::-webkit-scrollbar-track {
    background: rgb(54, 54, 54);
  }

::-webkit-scrollbar-thumb {
    background: #646464;
    border-radius: 15px;
  }